/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
  }
  td,lable,input,button{
    margin: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .footer{
  bottom: 0;
  position: absolute;
  width: 90%;
  height: 40px;
  } */